
agriculture_simulator/resources/water.png:Zone.Identifier
agriculture_simulator/resources/field.png:Zone.Identifier
agriculture_simulator/resources/produce.png:Zone.Identifier
agriculture_simulator/resources/shed.png:Zone.Identifier
